<div class="w-full">
	<%= link_to "Buy a trip", new_trip_path, class: "rounded-lg py-3 px-5 bg-green-600 text-white font-medium" %>
 
   <h1 class="font-bold text-2xl sm:text-4xl text-center">Trips</h1>
    
  

  <div id="trips" class="min-w-full flex flex-wrap gap-4 justify-center mt-8">
    <%= render @trips %>
  </div>
</div>
