<h1>Your RunwayHorse trial has ended </h1>
<p>Thanks for trying RunwayHorse, <%= @user.first_name %>. Your free trial has ended. Buy a trip to continue planning:</p>
<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <!-- Border based button https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center">
            <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
									<%= "Buy a RunwayHorse Trip", checkout_url(trial_trip: @trip) %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>Thanks for giving RunwayHorse a try. You can reply to this email or message me anytime at <a href="mailto:hello@runwayhorse.com">hello@runwayhorse.com</a> with any comments, questions, or feedback.</p>

<p>
  -Varun
  <em>Maker of RunwayHorse</em>
</p>