<h1>Welcome to RunwayHorse, <%= @user.name %>!</h1>
<p>
  I made RunwayHorse because I wanted a better way to see what I was doing on my trip. The Google Docs/Sheets and phone notes everyone uses felt cumbersome and unwieldy, a hack more than a solution. And most of the travel software out there did too much. It wanted to control where I went, what I did, and where I stayed. It annoyed me with its associate flights, hotels, and cars that it tried to sell. It also made no sense to pay X dollars a month for something I didn't use at home.
</p>
<p>
  I hope RunwayHorse eases some of your frustrations with travel planning. If you have any comments or questions, respond to this email or write to me at <a href="mailto:hello@runwayhorse.com">hello@runwayhorse.com</a>.
</p>
<p>
  - Varun, 
  
  <em>Maker of <a href="https://runwayhorse.com">RunwayHorse</a></em>
</p>