<h1>Welcome to RunwayHorse, <%= @user.first_name %>!</h1>
<br>
<p>
  I made RunwayHorse because I wanted a better way to see what I was doing on my trip. The Google Docs, Sheets, and phone notes felt cumbersome and unwieldy — like a hack more than a solution. And most of the travel software out there did too much. It wanted to control where I went, what I did, and where I stayed. It annoyed me with its "partner" flights, hotels, and cars.
</p>
<p>
  I hope RunwayHorse eases some of your frustrations with travel planning. If you have any comments or questions, respond to this email or write to me at <a href="mailto:varun.kumar@hey.com">varun.kumar@hey.com</a>.
</p>
<p>
  - Varun
  <br>
	<a href="https://varunkumar.com">varunkumar.com<a>
</p>