<%= turbo_frame_tag "share" do %>
	<div class="flex w-fit mx-auto items-center">
		<div class="flex rounded-md border border-grey-500">
			<p class="max-w-48 p-2 text-xs text-slate-400 overflow-scroll select-text text-nowrap"><%= share_trip_url(id: @trip_token) %></p>
			<button class="text-xs font-semibold text-center bg-gray-200 p-2">Copy</button>
		</div>
		<%= link_to "Done", :back, class: "self-end ml-2 font-semibold text-sm text-green-600" %>
	</div>
<% end %>