<div class="mx-auto md:w-2/3 w-full mt-4">
  <h1 class="font-semibold text-3xl text-center">Add <%= @happening.happeningable_name %></h1>

  <%= render "form", happening: @happening, trip: @trip, day: @day %>

</div>