<div class="mx-auto md:w-2/3 w-full mt-4 px-4">
  <h1 class="font-semibold text-3xl text-center">Add <%= @happening.happeningable_name %></h1>

	<%= render "happenings/happeningables/new_#{@happening.happeningable_name}", trip: @trip, happening: @happening, day: @day %>
</div>