<%= turbo_frame_tag "sometimes" do %>
	<div>
		<div class="flex">
			<p class="font-medium sm:text-lg underline decoration-wavy decoration-teal-700">Sometime</p>
			<%= link_to "+", new_trip_sometime_path(@trip), data: { turbo_frame: "new_sometimes" } %>
		</div>
		<div>
			<%= turbo_frame_tag "new_sometimes"  %>
			<%= render @sometimes %>
		</div>			
		
	</div>
<% end %>

