<footer class="flex flex-col min-h-40 bg-neutral-50 p-4 justify-between text-center">
	<p class="font-bold text-xl mt-8">
		<%= mail_to "varun.kumar@hey.com", "Email us", class: "text-indigo-500" %>
		to get help on anything.
	</p>
	<p class="text-slate-600 text-sm italic">RunwayHorse is built by <%= link_to "Varun Kumar", "https://varunkumar.com", class: "text-medium text-indigo-500" %>. Copyright @Varun Kumar. All rights reserved.</p>
</footer>
