<footer class="flex flex-col min-h-28 bg-neutral-50 p-4 justify-between text-center mt-20">
	<p class="font-bold">
		<%= mail_to "hello@runwayhorse.com", "Email us", class: "text-indigo-500" %>
		to get help on anything.
	</p>
	<p class="text-slate-600 text-xs italic">RunwayHorse is built by <%= link_to "Varun Kumar", "https://varunkumar.com", target: "_blank", class: "text-xs text-indigo-500" %>. Copyright @Varun Kumar. All rights reserved.</p>
</footer>
