<nav class="relative flex items-center justify-center p-4 bg-amber-100 min-h-14" data-controller="navbar">
	<%= link_to root_path, class: "absolute left-5" do %>
		<div class="flex items-center gap-2">
			<%= image_tag "logo.svg", class: "h-7 sm:h-10 w-auto"%>
			<span class="font-bold text-xl hidden lg:inline">RunwayHorse</span>
		</div>
	<% end %>
	
	<div class="absolute right-5">
		<%= link_to "Pricing", pricing_path, class: "mr-4 font-medium" %>
		<%= link_to "Try for free", "", class: " bg-orange-500 text-white text-sm font-semibold p-2 rounded-full"%>
	</div>
	
	
</nav>