<div class="mx-auto max-w-xl min-h-[64vh]">
	<div>
		<h2 class="text-4xl font-extrabold bg-gradient-to-r from-amber-700 to-orange-400 text-transparent bg-clip-text text-center my-8">FAQ</h2>
		<section class="mb-4">
			<strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1 mr-1">Is there an app?</strong> There isn't a mobile app yet. You can still add RunwayHorse to your homescreen by following <a href="https://support.apple.com/guide/iphone/bookmark-favorite-webpages-iph42ab2f3a7/ios#iph4f9a47bbc" target="_blank" class="text-blue-500">these instructions for iPhone</a> or <a href="https://www.howtogeek.com/667938/how-to-add-a-website-to-your-android-home-screen/" target="_blank" class="text-blue-500">these for Android</a>.
		</section>
		
		<section class="mb-4">
			<strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1 mr-1">Can I plan multiple trips at once?</strong> Yes, you can plan as many trips at one time as you want. They're all available for you to see even after you're done with them.
		</section>
		
		<section class="mb-4">
			<strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1 mr-1">How does sharing work?</strong>In your trip home, copy the shareable link that fellow travelers can use without a RunwayHorse account. They'll be able to view, but not edit, everything on the trip.
		</section>
		
		<section class="mb-4">
			<strong class="bg-gradient-to-r from-purple-200 to-pink-200 p-1 mr-1">Is it safe to put my reservation numbers in?</strong>No one else, including us, can access your account. Everything you put into RunwayHorse is only for your eyes.
		</section>
	</div>
</div>