<div class="flex flex-col items-center justify-center">
	<div class="flex flex-col items-center justify-center">
		<h1 class="font-black text-4xl">Everything about your trip in one place</h1>
		<h2 class="font-medium text-2xl">Forget about the Docs, Sheets, or Notes mess to put your trip together. Use RunwayHorse instead.</h2>
		<button class="p-4 rounded-lg bg-green-600 text-white font-semibold">Try it for free</button>
	</div>
	
	<div class="flex flex-col">
		<h4>
			No one telling you where to go, what to do, or where to stay.
		</h4>
		<h4>
			Plan your trip like you always do. Then watch it come to life on RunwayHorse
		</h4>
	</div>
	
	<div>
		<h4>The trip essentials. Nothing more, nothing less</h4>
		<p>Transportation | Lodging | Day-by-Day</p>
	</div>
	
	<div class="flex items-center justify-center">
		<section class="font-light text-lg">
			<p>No complex things you'll never use </p>
			<p>No sketchy "partners"</p>
			<p>No paying $10/month when you're not traveling</p>
			<p class="font-extrabold mt-4">Get just what you need for each trip</p>
		</section>
		<div class="p-4 shadow-lg rounded-xl">
			<h4>Pay once per trip</h4>
			<p class="font-bold text-4xl">$19 per trip</p>
			<ul>
				<li>Lodging</li>
				<li>Transportation</li>
				<li>Day-by-day</li>
				<li>Trip todos</li>
				<li>Trip summary</li>
				<li>Use your RunwayHorse trip as long as you want<li>
			</ul>
			<button class="p-4 rounded-lg bg-green-600 text-white font-semibold">Try for free</button>
		</div>
	</div>
</div>