<div class="flex flex-col justify-center gap-20">
	<div class="flex flex-col items-center justify-center mt-8">
		<h1 class="font-black text-5xl bg-gradient-to-r from-amber-700 to-orange-400 text-transparent bg-clip-text h-14">Everything about your trip in one place</h1>
		<h2 class="font-medium text-2xl text-center mt-4">Forget about the Docs, Sheets, or Notes mess for putting your trip together</h2>
		<button class="p-4 rounded-full text-white font-bold mt-8 bg-green-600 ">Try RunwayHorse for free</button>
	</div>
	
	<div class="flex flex-col">
		<section class="text-xl w-2/3 ml-20">
			<p>
				No one telling you where to go, what to do, or where to stay. No one suggesting what your budget should be.
			</p>
			<p class="bg-yellow-300 w-fit p-1 pb-0 mt-4">Plan your trip like you always do.</p>
			
			<p class="bg-yellow-300 w-fit p-1 pt-0 font-semibold">Then watch it come to life on RunwayHorse</p>
		</section>
		<%=image_tag "plane.svg", class: "h-64 w-auto"%>
	</div>
	
	<div>
		<h4>The trip essentials</h4>
		<p>Transportation | Lodging | Day-by-Day</p>
	</div>
	
	<div class="w-4/5 flex items-center justify-center">
		<section class="text-lg basis-1/2">
			<p>No complex things you'll never use </p>
			<p>No sketchy "partners"</p>
			<p>No paying when you're not traveling</p>
			<p class="font-semibold mt-4">Just a home for your scattered trip plans</p>
		</section>
		<div class="p-4 shadow-lg rounded-xl text-center">
			<h4>Pay when you need it</h4>
			<p class="font-bold text-4xl">$19 per trip</p>
			<ul>
				<li>Lodging</li>
				<li>Transportation</li>
				<li>Day-by-day</li>
				<li>Trip todos</li>
				<li>Trip summary</li>
				<li class="mt-6 bg-yellow-300 w-fit px-1">Use your RunwayHorse trip as long as you want<li>
			</ul>
			<button class="p-4 rounded-full bg-green-600 text-white font-semibold">Try for free</button>
		</div>
	</div>
</div>