<div class="mx-auto max-w-xl">
	<section>
		<h2 class="text-4xl font-extrabold bg-gradient-to-r from-amber-700 to-orange-400 text-transparent bg-clip-text text-center my-8">Pay per trip, not per month.</h2>
	
		<p class="">RunwayHorse isn't like other travel software. There's <strong>no monthly subscription</strong>, <strong>no associate "partners"</strong> selling you things, and <strong>no AI telling you how you should plan your trip</strong>.</p>
		<br>
		<p>Your buy a RunwayHorse Trip <strong>whenever you need it</strong>. Buying a trip gives you access to all the <strong>transportation, lodging, and day-by-day</strong> tools. You own that trip forever and can come back to it even after your travelling is done.</p>
		<br>
		<p>When you're planning to set out again, buy another RunwayHorse Trip. <strong>Never pay for your travel tool while you're at home</strong>.</p>
	</section>
	<div class="border-2 border-gray-200 bg-orange-50 rounded-xl text-center max-w-sm mx-auto mt-12 text-slate-600">
		<p class="font-extrabold text-5xl text-indigo-700 bg-orange-50 my-4">$19<span class="text-sm font-normal"> per trip</span></p>
		
		<p class="text-left mx-20 font-medium mb-4 mt-1">Included:</p>
		<ul class="list-disc text-left mx-24">
			<li>Lodging planner</li>
			<li>Transportation planner</li>
			<li>Day-by-day</li>
			<li>Trip todos</li>
			<li>Trip summary</li>
			<li class="font-semibold">Use your RunwayHorse Trip as long as you want</li>
		</ul>
		
		<div class="p-4">
			<button class="px-4 py-1 rounded-full bg-green-600 text-white font-semibold">Try for free</button>
		</div>
	</div>
</div>