<div class="mx-auto max-w-xl font-light">
	<h2 class="text-4xl font-extrabold text-center my-8">Pay per trip, not per month.</h2>
	
	<p>RunwayHorse isn't like other travel software. There's no monthly subscription, no associate "partners" selling you things, and no AI telling you how you should plan your trip.</p>
	<br>
	<p>Your buy a RunwayHorse Trip whenever you need it. Buying a trip gives you access to all the transportation, lodging, and day-by-day features. You own that trip forever and can come back to it even after your travelling is done.</p>
	<br>
	<p>When you're planning to set out again, buy another RunwayHorse Trip. Never pay for your travel tool while you're at home.</p>
	
	<div class="p-4 shadow-lg shadow-amber-600/60 rounded-xl text-center max-w-md mx-auto">
		<h4>Pay when you need it</h4>
		<p class="font-bold text-4xl">$19 per trip</p>
		<ul class="list-disc text-left mx-32">
			<li>Lodging</li>
			<li>Transportation</li>
			<li>Day-by-day</li>
			<li>Trip todos</li>
			<li>Trip summary</li>
			<li class="font-semibold">Use your RunwayHorse Trip as long as you want</li>
		</ul>
		<div class="flex justify-evenly items-center mt-6">
			<button class="p-4 rounded-full bg-green-600 text-white font-semibold">Try for free</button>
		</div>
	</div>
</div>