<%= turbo_frame_tag "trip_notes" do %>
	<div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
	  <div class="bg-white p-6 rounded-lg shadow-lg">
	    <h2 class="text-xl font-bold mb-4">Trip Notes</h2>
			<p class="italic text-slate-500 text-sm">
				Add any random things you want to remember for the trip here. Organize it however you like (by location for example)
			</p>
	    Test
	    <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-blue-600 float-right">Done</button>
	  </div>
	</div>
<% end %>