<p class="flex flex items-center justify-center px-4 py-2 text-gray-500">
	<%= image_tag "#{icon}.svg", class: "h-6 w-auto mr-1" %>
	<%= turbo_frame_tag display_name do %>
		<% if value.present? %>
			<span>value</span>
		<% else %>
			<span class="text-sm font-light">Add <%= display_name %></span>
		<% end %>
	<% end %>
</p>
	