<div class="text-center mt-8">
	<p class="font-semibold text-xl mt-8">
		Something went wrong on our end. Please try again 
	</p>
	<%= mail_to "varun.kumar@hey.com", "Get help", class: "mt-4 text-indigo-500 font-medium"  %>
</div>