@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-calendar-picker-indicator{
    margin-left: -20px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out;
}

.fade-out {
	animation: fadeOut 0.75s ease-out 2s;
}
/*

@layer components {
	.form-width {
		@apply w-fit px-3;
	}
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
	
	.form-label {
		@apply text-slate-600 
	}
}


*/