<div class="w-full">
	<div class="relative mb-12">
		<h1 class="font-bold text-2xl sm:text-4xl text-center">Lodging</h1>
		<%= link_to new_trip_lodging_path(@trip), class: "flex items-center justify-center absolute top-0 right-0 mr-4 bg-green-600 text-white px-4 py-2 rounded", "data-admin": "true" do %>
			<%= image_tag "plus.svg", class: "h-5 w-auto mr-1" %>
			<p class="font-light text-sm">New</p>
		<% end %>
	</div>

	<% if @lodgings.any? %>
		<div class="px-4 sm:px-40">
	  	<%= render @lodgings %>
		</div>
	<% else %>
		<p class="mx-auto max-w-sm px-4 font-medium text-gray-500">
			Nothing to show yet. Add your Airbnb or hotel bookings here as you do them. Or, add your rough plans and fill in the details later.
		</p>
	<% end %>
</div>
