<div class="w-full">
	<div class="relative mb-8 sm:mb-12">
		<h1 class="font-bold text-2xl sm:text-4xl text-center">Lodging</h1>
		<%= link_to new_trip_lodging_path, class: "sm:absolute flex items-center justify-center max-w-20 mx-auto mt-2 top-0 right-0 sm:mr-4 bg-green-600 text-white px-3 py-2 rounded", "data-admin": "true" do %>
			<%= image_tag "plus.svg", class: "h-3 sm:h-5 w-auto mr-1" %>
			<p class="font-light text-xs sm:text-sm">New</p>
		<% end %>
	</div>

	<% if @lodgings.any? %>
		<div class="px-4 sm:px-40">
	  	<%= render @lodgings %>
		</div>
	<% else %>
		<p class="mx-auto max-w-sm px-4 font-medium text-gray-500">
			Nothing to show yet. Add your Airbnb or hotel bookings here as you do them. Or, add your rough plans and fill in the details later.
		</p>
	<% end %>
</div>
