<div class="mx-auto md:w-2/3 w-full mt-4">
  <h1 class="font-semibold text-3xl text-center">Add trip lodging</h1>

  <%= render "form", lodging: @lodging, trip: @trip, day: @day, url: trip_lodgings_path(@trip, day: @day) %>
</div>
